## Exercise on treating outliers using Inter Quartile Range(IQR)

In [1]:
import pandas as pd
df=pd.read_csv("weight-height.csv")
df.shape

(10000, 3)

In [2]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [3]:
df.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

## Calcualting IQR for the features weight and height

In [44]:
Q1_height=df.Height.quantile(0.25)
Q3_height = df.Height.quantile(0.75)
IQR_height = Q3_height-Q1_height

In [45]:
print(Q1_height,Q3_height,IQR_height)

63.505620481218955 69.1742617268347 5.668641245615746

In [46]:
upper_limit_height= Q3_height+(1.5* IQR_height)
lower_limit_height= Q1_height-(1.5*IQR_height)
print(upper_limit_height,lower_limit_height)

77.67722359525831 55.00265861279534

In [47]:
Q1_weight=df.Weight.quantile(0.25)
Q3_weight=df.Weight.quantile(0.75)
IQR_weight = Q3_weight-Q1_weight

In [48]:
print(Q1_weight,Q3_weight,IQR_weight)

135.8180513055015 187.16952486868348 51.35147356318197

In [54]:
upper_limit_Weight= Q3_weight+(1.5*IQR_weight)
lower_limit_Weight= Q1_weight-(1.5*IQR_weight)
print(upper_limit_Weight,lower_limit_Weight)

264.19673521345646 58.79084096072856

## Remove outliers using Height IQR

In [55]:
df1=df[(df.Height>lower_limit_height)&(df.Height<upper_limit_height)]

In [56]:
df1.shape

(9992, 3)

In [57]:
outlier_removed_height = df.shape[0]-df1.shape[0]

In [58]:
print("the number of outlers removed using height feature IQR is",outlier_removed_height)

the number of outlers removed using height feature IQR is 8

In [59]:
df2=df1[(df1.Weight>lower_limit_Weight)&(df1.Weight<upper_limit_Weight)]

In [60]:
df2.shape

(9992, 3)

In [41]:
print("the number of outlers removed using weight feature IQR is",outlier_removed_weight)

the number of outlers removed using weight feature IQR is 0