In [46]:
import pandas as pd
df=pd.read_csv("bangalore_house_price.csv")
df

,location,size,total_sqft,bath,price,price_per_square_foot
0,Electronic City Phase II,2 BHK,1056,2.0,39.07,3700
1,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,4615
2,Uttarahalli,3 BHK,1440,2.0,62.00,4306
3,Lingadheeranahalli,3 BHK,1521,3.0,95.00,6246
4,Kothanur,2 BHK,1200,2.0,51.00,4250
...,...,...,...,...,...,...
13078,Whitefield,5 Bedroom,3453,4.0,231.00,6690
13079,Richards Town,4 BHK,3600,5.0,400.00,11111
13080,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00,5259
13081,Padmanabhanagar,4 BHK,4689,4.0,488.00,10407
13082,Doddathoguru,1 BHK,550,1.0,17.00,3091

In [47]:
df.isna().sum()

location                  1
size                      9
total_sqft                0
bath                     19
price                     0
price_per_square_foot     0
dtype: int64

In [48]:
df.isnull().sum()

location                  1
size                      9
total_sqft                0
bath                     19
price                     0
price_per_square_foot     0
dtype: int64

In [49]:

df.sample(20)

,location,size,total_sqft,bath,price,price_per_square_foot
309,Whitefield,2 BHK,1280,2.0,75.00,5859
10335,Munnekollal,3 BHK,1800,3.0,65.00,3611
5432,Panathur,2 BHK,1198,2.0,82.00,6845
12515,Kanakpura Road,2 BHK,700,2.0,36.00,5143
6319,Gollarapalya Hosahalli,2 BHK,861,2.0,36.50,4239
6571,Kothanur,8 Bedroom,1020,10.0,155.00,15196
6873,Mysore Road,2 BHK,940,2.0,43.61,4639
10476,Bannerghatta,2 BHK,1200,2.0,73.20,6100
9452,Garebhavipalya,3 BHK,1275,3.0,55.00,4314
9149,7th Phase JP Nagar,2 BHK,1270,2.0,80.00,6299
406,Amco Colony,3 BHK,1760,3.0,88.00,5000
12304,Hebbal,2 BHK,1294,2.0,115.00,8887
11141,Whitefield,3 BHK,2280,4.0,125.00,5482
6376,Yeshwanthpur,9 Bedroom,2400,6.0,270.00,11250
3099,Malleshpalya,3 BHK,1900,3.0,60.00,3158
2770,Haralur Road,2 BHK,1243,2.0,46.00,3701
7307,Sarjapur Road,2 BHK,984,2.0,55.00,5589
1258,Haralur Road,2 BHK,1194,2.0,47.00,3936
746,V.V Puram,2 BHK,775,2.0,55.00,7097
10982,LB Shastri Nagar,8 Bedroom,2400,8.0,250.00,10417

In [50]:
df=df[df['price_per_square_foot']!="#VALUE!"]

In [55]:
df['price_per_square_foot'].dtype

dtype('int32')

In [ ]:
df['price_per_square_foot']=df['price_per_square_foot'].astype(str).astype(int)

In [56]:
max_thershold = df['price_per_square_foot'].quantile(0.99)
max_thershold

23807.49999999989

In [57]:
min_thershold = df['price_per_square_foot'].quantile(0.001)
min_thershold

1250.0

In [58]:
df.shape

(13078, 6)

In [59]:
df =df[(df['price_per_square_foot']>min_thershold) &( df['price_per_square_foot']<max_thershold)]

In [60]:
df.shape

(12932, 6)