In [1]:
import pandas as pd
df=pd.read_csv("heights.csv")
df.shape

(14, 2)

In [2]:
df.describe()

          height
count  14.000000
mean    6.050000
std     2.779804
min     1.200000
25%     5.250000
50%     5.550000
75%     6.175000
max    14.500000

In [3]:
df['height']

0      5.9
1      5.2
2      5.1
3      5.5
4      4.9
5      5.4
6      6.2
7      6.5
8      7.1
9     14.5
10     6.1
11     5.6
12     1.2
13     5.5
Name: height, dtype: float64

In [4]:
max_thershold = df['height'].quantile(0.95)
max_thershold

9.689999999999998

In [5]:
df[df['height']>max_thershold]

    name  height
9  imran    14.5

In [7]:
min_thershold = df['height'].quantile(0.05)
min_thershold

3.6050000000000004

In [8]:
df[df['height']<min_thershold]

      name  height
12  yoseph     1.2

In [12]:
df[(df['height']>min_thershold) &( df['height']<max_thershold)]

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5