## Treat outliers with IQR Techniques

In [1]:
import pandas as pd
df=pd.read_csv("heights_outliers.csv")

In [2]:
df.head(5)

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [3]:
df.describe()

          height
count  20.000000
mean    8.390000
std     8.782812
min     1.200000
25%     5.350000
50%     5.700000
75%     6.275000
max    40.200000

In [4]:
Q1=df.height.quantile(0.25)
Q3=df.height.quantile(0.75)
print('Q1= ' ,Q1, '  Q3 = ',Q3)

Q1=  5.3500000000000005   Q3 =  6.275

In [5]:
IQR = Q3-Q1
IQR

0.9249999999999998

In [6]:
lower_limit=Q1-IQR
upper_limit=Q3+IQR

In [7]:
df1 = df[(df.height > lower_limit)&(df.height<upper_limit)]
df1.shape

(15, 2)

In [8]:
outlier_removed = df.shape[0]-df1.shape[0]

In [9]:
print("The number of rows discarded as an outlier is",outlier_removed)

The number of rows discarded as an outlier is 5